function [K] = local_stiffness(X, Y, u, l, local_nodes)
%local_stiffness Calculates the local stiffness for a given element and its
% type, using an appropriate integration method.
% NOTE: THIS IS GENERATED CODE. REFER TO local_stiffness.m.tmpl
if local_nodes == 4
    K = crunch_quad(X(1), X(2), X(3), X(4), ...
                    Y(1), Y(2), Y(3), Y(4), u, l);
else
    K = crunch_serindipity(X(1), X(2), X(3), X(4), ...
                           X(5), X(6), X(7), X(8), ...
                           Y(1), Y(2), Y(3), Y(4), ...
                           Y(5), Y(6), Y(7), Y(8), u, l);
end
K = K + triu(K, -1).';
end

function [K] = crunch_quad(A, B, C, D, S, T, U, V, u, l)
    K = [{{quad}}];
end

function [K] = crunch_serindipity(A, B, C, D, E, F, G, H, ...
                                  S, T, U, V, W, X, Y, Z, u, l)
    K = [{{serindipity}}];
end
